@font-face {
  font-family: JetBrainsMono;
  src: url(/assets/JetBrainsMono-Regular.woff2);
}
body {
  margin: 0;
  font-family: "JetBrainsMono", monospace;
  overflow-x: hidden;
}
::selection {
  background-color: #9300B8;
}
::-moz-selection {
  background-color: #9300B8;
}
h1.title {
  font-family: "Inter", sans-serif;
}