@font-face {
  font-family: JetBrainsMono;
  src: url(/assets/JetBrainsMono-Regular.woff2);
}
body {
  margin: 0;
  font-family: "JetBrainsMono", monospace;
  overflow-x: hidden;
}
::selection {
  background-color: #9300B8;
}
::-moz-selection {
  background-color: #9300B8;
}
h1.title {
  font-family: "Inter", sans-serif;
  font-size: 2.3em;
  font-weight: 600;
}
@media screen and (max-width: 720px) {
  h1.title {
    width: 100%;
    font-size: 2.01em;
  }
}
a {
  color: #9300B8;
  text-decoration: underline;
}