@font-face {
  font-family: JetBrainsMono;
  src: url(/assets/JetBrainsMono-Regular.woff2);
}
body {
  margin: 0;
  font-family: "JetBrainsMono", monospace;
}
::selection {
  background-color: #9300B8;
  color: #fff;
}
::-moz-selection {
  background-color: #9300B8;
  color: #fff;
}