@font-face {

  font-family: JetBrainsMono;
  src: url(./JetBrainsMono-Regular.woff2);

}

body {

  margin: 0;
  font-family: "JetBrainsMono", monospace;

}

::selection {

  background-color: #000;
  color: #fff;

}

::-moz-selection {

  background-color: #000;
  color: #fff;

}